<p>Hola {{user.available_name}}</p>

<p>
  Se ha creado una nueva conversación (<a href="{{ action_url }}">#{{conversation.display_id}}</a>) en {{ inbox.name }}.
  <strong>{{ conversation.contact_name }}</strong> escribió:
</p>

{% for chat_message in conversation.recent_messages %}
  <div>
    <h4 style="margin: 0;">
      {% if chat_message.sender == user.available_name %}
        Tu
      {% else %}
        {{chat_message.sender}}
      {% endif %}
    </h4>
  </div>

  <div style="padding: 10px 20px; margin: 5px 0 20px 0; background: #F2F3F7; border-radius: 10px; display: inline-block; font-family: 'Helvetica Neue',Tahoma,Arial,sans-serif; text-align: start; unicode-bidi: plaintext;">
    {% if chat_message.content %}
      {{chat_message.content}}
    {% endif %}

    {% if chat_message.attachments %}
      {% for attachment in chat_message.attachments %}
        Adjunto [<a href="{{ attachment }}" _target="blank">Haga clic aquí para verlo</a>]
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}
