<p>Hola {{user.available_name}},</p>

<p>
  Conversación #{{conversation.display_id}} en {{ inbox.name }}
  no ha cumplido el SLA para la próxima respuesta según la política {{ sla_policy.name }}.
</p>

<p>
<a href="{{action_url}}">Por favor, diríjase inmediatamente.</a>
</p>
